nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1%;
    margin:1;
    margin-left: 5%;
    margin-right: 5%;
    background-color:aquamarine;
}

main{
    margin: 5%;
    height: auto;
    background-color: #FF9966;
}
.base-block {
    margin: 1%;
    padding-top: 1%;
    width: 200px;
    background-color:#FF9966;
    display: grid;
    gap: 10px
}
div {
    text-decoration-style: ;
}
.bloc-1{
    background-color: beige;
    grid-column: 1 /span 3;
    
}