body{
    background-image: url(./Img/fond.jpg);
    margin: 10%
    /*border: 10px dotted #black;*/  
}
nav{

}
header,
main, 
footer{
    max-width: 800px;
    min-width:360px;
}

header{
    display:flex;
    justify-content: space-between;
}

#brand{
    display: flex;
    flex-flow: row nowrap; /*inclut flex direction et flex wrap*/
    gap: 20px;
}
/* Style */
header{

}

.post img{
    width:20px; 
    height: 50px;
}


#6050DC
#FF4F00
6082B6