
/*This is a comment*/

/*@import url(<i class="fa-light fa-hand-holding-star"></i>);*/
:root{
    font-size: 20px;
}

body{
    background-color: #B9D9EB;
    margin: 0;        
    padding: 0;
    font-family: Arial, sans-serif;
}

/*Style a heading*/
h1{
    color: #003262;
    text-align: left;
}
h2{ 
   color: #2072AF

}