:root {
    /* Couleurs principales */
    --couleur-texte:#1e4a7c;
    --couleur-fond:#def3f6; 

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: var(--couleur-fond);
}

